<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.group8.dao.ProductCommentDao">
    <!-- 添加评论   -->
    <insert id="addProductCommentDao" parameterType="com.group8.entity.LgComment"  useGeneratedKeys="true" keyProperty="commentId">
        insert into lg_comment values (null,#{commentContent},#{commentFid},0,#{createBy},#{createTime})
    </insert>
    <!--  添加关联表数据  -->
    <insert id="addMiddule">
        insert into lg_comment_group values (#{pid},#{cid},#{mark})
    </insert>
    <!-- 查询评论   -->
    <resultMap id="findAllMap" type="com.group8.entity.LgComment">
        <id property="commentId" column="comment_id"></id>
        <collection property="lgComments" column="comment_id" ofType="com.group8.entity.LgComment" select="findSon"></collection>
    </resultMap>
    <select id="findAll" resultMap="findAllMap">
        select * from lg_comment where comment_id in (select cid from lg_comment_group where pid = #{pid} )
    </select>
    <select id="findSon" resultMap="findAllMap">
        select * from lg_comment where comment_fid =#{id}
    </select>
    <!-- 点赞-->
    <update id="update">
        update lg_comment set praise_num = praise_num+1 where comment_id = #{cid}
    </update>
    <!-- 删除评论   -->
    <delete id="delete">
        delete from lg_comment where comment_id = #{cid}
    </delete>
    <update id="updateProductMark">
        update lg_group set group_score = (select cast(AVG(mark) AS DECIMAL(10,2)) from lg_comment_group where pid = #{pid}) where group_id = #{pid}
    </update>
</mapper>